@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.root {
    --primary-color: #9D174D;
}

body{
    text-align: center;
    font-family: 'Anton', sans-serif;
    background-color: darkslategray;
    color: whitesmoke;
}

.h1 {
    color: var(--primary-color);
}

main {
    color: var(--primary-color);
}

label{
    display: block;
    padding-bottom: 1rem;
}

a { 
    color: inherit; 
} 

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2rem;
    color: whitesmoke;
}